<%= link_to "デッキ登録はこちらから", "https://dmps.takaratomy.co.jp/deckbuilder/" %>

<%= form_with(model: article, local: true) do |f| %>

  <% if article.errors.any? %>
  <div class="error-alert">
    <ul>
      <% article.errors.full_messages.each do |message| %>
      <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :deck_url, "デッキのURL" %>
    <%= f.text_field :deck_url, class: 'form-control' %>
  </div>

  <div class="form-group mb-5">
    <%= f.label :content, "解説・立ち回り" %>
    <%= f.text_area :content, class: 'form-control', rows: "5" %>
  </div>

  <div class="form-group">
    <%= f.submit send, class: 'btn btn-warning btn-block' %>
  </div>

<% end %>