<h2><%= @article.title %></h2>
投稿者:<%= @article.user.username %>

<%= link_to "#{@article.title}のデッキレシピのURL", @article.deck_url %>
<%= @article.content %>
<% if user_signed_in? %>
  <% if @article.user.id == current_user.id %>
    <%= link_to "編集", edit_article_path(@article) %>
    <%= link_to "削除", article_path(@article), method: :delete, data: {confirm: "削除しますか？"}  %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= form_with(model: [@article, @article_comment], local: true) do |form| %>
    <%= form.text_area :text, placeholder: "コメントする" %>
    <%= form.submit "SEND" %>
  <% end %>
<% else %>
  <strong><p>※ コメントの投稿には新規登録/ログインが必要です ※</p>
  </strong>
<% end %>

<h4>＜コメント一覧＞</h4>
<% @article_comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %>：</strong>
    <%= comment.text %>
  </p>
<% end %>