<h1>検索結果</h1>

<%= form_with(url: search_cards_path, local: true, method: :get) do |form| %>
  <%= form.text_field :keyword, placeholder: "カードを検索する" %>
  <%= form.submit "検索" %>
<% end %>

<% @cards.each do |card| %>
  <%=link_to card.name, card_path(card) %>
  <%= card.race %>
<% end %>