<h2><%= @card.name %>の詳細画面</h2>
<%= image_tag @card.card_image %>

<div class="average-score">
  <div class="star-rating mb-2">
    <div class="star-rating-front" style="width: <%= @card.review_score_percentage %>%">★★★★★</div>
    <div class="star-rating-back">★★★★★</div>
  </div>
  <div class="average-score-display ml-3 pt-2">
    <%= @card.avg_score %>点（<%= @card.reviews.count %>件）
  </div>
</div>

タイプ:<%= @card.category %>
種族:<%= @card.race %>
文明:<%= @card.civilization %>
レアリティ:<%= @card.rarity %>
コスト:<%= @card.cost %>
パワー:<%= @card.power %>
効果:<%= safe_join(@card.effect.split("\n"), tag(:br)) %>

<p>このカードの評価を行えます(※ログイン済みのユーザーのみ)</p>
<div class="rating-box mt-3">
  <%= form_with model: @review, url: card_reviews_path(@card), local: true do |f| %>
    <div class="main-rating">
      <div class="ratings mb-3">
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
      </div>
      <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
    </div>
    <%= f.hidden_field :card_id, value: @card.id %>
    <%= f.hidden_field :score, id: "rating-value" %>
    <%= f.submit "評価する" %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= form_with(model: [@card, @card_comment], local: true) do |form| %>
    <%= form.text_area :text, placeholder: "コメントする" %>
    <%= form.submit "SEND" %>
  <% end %>
<% else %>
  <strong><p>※ コメントの投稿には新規登録/ログインが必要です ※</p>
  </strong>
<% end %>

<h4>＜コメント一覧＞</h4>
<% @card_comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %>：</strong>
    <%= comment.text %>
    <% if user_signed_in? && current_user.id == comment.user.id %>
      <%= link_to "削除", card_card_comment_path(@card, comment), method: :delete, data: {confirm: "削除しますか？"} %>
    <% end %>
  </p>
<% end %>

<%= javascript_pack_tag 'application' %>